/* CSS untuk loading spinner */
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -27vh;
}
/* Sembunyikan form secara default */
#content-route {
  display: none;
}

.modal button {
  --bs-btn-padding-y: 0.25rem;
  --bs-btn-padding-x: 0.5rem;
  --bs-btn-font-size: 0.875rem;
  --bs-btn-border-radius: var(--bs-border-radius-sm);
}

.br-3 {
  border-radius: 3px;
}
.br-5 {
  border-radius: 5px;
}
.br-7 {
  border-radius: 7px;
}
.br-10 {
  border-radius: 10px;
}
